<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Your achievements</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="../static/js/responsive-nav.js"></script>
</head>

<body>
    <div class="wrap-header">
        <header>
            <form id="demo-2">
                <input type="search" placeholder="Search">
                <a href="home.html" class="logotype">Charitable</a>
            </form>
            <nav class="nav-collapse">
                <ul>
                    <li class="menu-item"><a href="profile.html">Profile</a></li>
                    <li class="menu-item"><a href="requests.html">Projects</a></li>
                    <li class="menu-item pr0"><a href="signin.html">Log In</a></li>
                </ul>
            </nav>
        </header>
    </div>
    <div class="content req">
        <p class="maintxtreq helpr">Your achievements</p>
        <div class="achievements">
            <div class="awrap got">
                <div class="round onethousand"></div>
                <p class="onethousand"></p>
            </div>
            <div class="awrap">
                <div class="round tenthousand"></div>
                <p class="tenthousand"></p>
            </div>
            <div class="awrap got">
                <div class="round topday"></div>
                <p class="topday"></p>
            </div>
            <div class="awrap">
                <div class="round topweek"></div>
                <p class="topweek"></p>
            </div>
            <div class="awrap">
                <div class="round topmonth"></div>
                <p class="topmonth"></p>
            </div>
            <div class="awrap">
                <div class="round animal"></div>
                <p class="animal"></p>
            </div>
            <div class="awrap got">
                <div class="round education"></div>
                <p class="education"></p>
            </div>
            <div class="awrap">
                <div class="round health"></div>
                <p class="health"></p>
            </div>
            <div class="awrap got">
                <div class="round environment"></div>
                <p class="environment"></p>
            </div>
            <div class="awrap got">
                <div class="round disaster"></div>
                <p class="disaster"></p>
            </div>
            <div class="awrap">
                <div class="round hunger"></div>
                <p class="hunger"></p>
            </div>
            <div class="awrap got">
                <div class="round localhero"></div>
                <p class="localhero"></p>
            </div>
            <div class="awrap">
                <div class="round globalhero"></div>
                <p class="globalhero"></p>
            </div>
            <!-- <div class="round tenthousand"></div>
            <div class="round animal"></div>
            <div class="round topweek"></div>
            <div class="round education"></div> -->
        </div>
        <footer>
            <div class="links">
                <div class="block1">
                    <div class="row hr"><a href="#">Legal</a></div>
                    <div class="row"><a href="#">Terms of Service</a></div>
                    <div class="row"><a href="#">Privacy Policy</a></div>
                    <div class="row"><a href="#">Cookie Information</a></div>
                    <div class="row"><a href="#">GDPR Commitment</a></div>
                </div>
                <div class="block2">
                    <div class="row hr"><a href="#">Company</a></div>
                    <div class="row"><a href="#">Blog</a></div>
                    <div class="row"><a href="#">Career</a></div>
                    <div class="row"><a href="#">Privacy</a></div>
                    <div class="row"><a href="#">About</a></div>
                </div>
            </div>
            <div class="block3">
                <p class="hr">System Carnival</p>
                Copyright © 2020 . Designed by Ivan Kagitin
                All rights reserved.
            </div>
        </footer>
    </div>
    <script src="../static/js/fastclick.js"></script>
    <script src="../static/js/scroll.js"></script>
    <script src="../static/js/fixed-responsive-nav.js"></script>
    <script src="../static/js/slider.js"></script>
</body>

</html>