<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Your achievements</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="../static/js/responsive-nav.js"></script>
</head>

<body>
    <div class="wrap-header">
        <header>
            <form id="demo-2">
                <input type="search" placeholder="Search">
                <a href="home.html" class="logotype">Charitable</a>
            </form>
            <nav class="nav-collapse">
                <ul>
                    <li class="menu-item"><a href="profile.html">Profile</a></li>
                    <li class="menu-item"><a href="requests.html">Projects</a></li>
                    <li class="menu-item pr0"><a href="signin.html">Log In</a></li>
                </ul>
            </nav>
        </header>
    </div>
    <div class="content req">
        <p class="maintxtreq helpr back"><a href="project.html">&#8592; go back</a></p>
        <p class="maintxtreq helpr">Your achievements!</p>
        <div class="achievements">
            <div class="awrap got">
                <img src="../static/img/2.jpg" class="round" alt="">
                <p class="onethousand"></p>
            </div>
            <div class="awrap">
                <img src="../static/img/3.jpg" class="round" alt="">
                <p class="tenthousand"></p>
            </div>
            <div class="awrap got">
                <img src="../static/img/6.jpg" class="round" alt="">
                <p class="topday"></p>
            </div>
            <div class="awrap">
                <img src="../static/img/7.jpg" class="round" alt="">
                <p class="topweek"></p>
            </div>
            <div class="awrap">
                <img src="../static/img/8.jpg" class="round" alt="">
                <p class="topmonth"></p>
            </div>
            <div class="awrap">
                <img src="../static/img/9.jpg" class="round" alt="">
                <p class="animal"></p>
            </div>
            <div class="awrap got">
                <img src="../static/img/13.jpg" class="round" alt="">
                <p class="education"></p>
            </div>
            <div class="awrap">
                <img src="../static/img/14.jpg" class="round" alt="">
                <p class="health"></p>
            </div>
            <div class="awrap got">
                <img src="../static/img/11.jpg" class="round" alt="">
                <p class="environment"></p>
            </div>
            <div class="awrap got">
                <img src="../static/img/10.jpg" class="round" alt="">
                <p class="disaster"></p>
            </div>
            <div class="awrap">
                <img src="../static/img/12.jpg" class="round" alt="">
                <p class="hunger"></p>
            </div>
            <div class="awrap got">
                <img src="../static/img/15.jpg" class="round" alt="">
                <p class="localhero"></p>
            </div>
            <div class="awrap">
                <img src="../static/img/16.jpg" class="round" alt="">
                <p class="globalhero"></p>
            </div>
            <!-- <div class="round tenthousand"></div>
            <div class="round animal"></div>
            <div class="round topweek"></div>
            <div class="round education"></div> -->
        </div>
        <footer>
            <div class="links">
                <div class="block1">
                    <div class="row hr"><a href="#">Legal</a></div>
                    <div class="row"><a href="#">Terms of Service</a></div>
                    <div class="row"><a href="#">Privacy Policy</a></div>
                    <div class="row"><a href="#">Cookie Information</a></div>
                    <div class="row"><a href="#">GDPR Commitment</a></div>
                </div>
                <div class="block2">
                    <div class="row hr"><a href="#">Company</a></div>
                    <div class="row"><a href="#">Blog</a></div>
                    <div class="row"><a href="#">Career</a></div>
                    <div class="row"><a href="#">Privacy</a></div>
                    <div class="row"><a href="#">About</a></div>
                </div>
            </div>
            <div class="block3">
                <p class="hr">System Carnival</p>
                Copyright © 2020 . Designed by Ivan Kagitin
                All rights reserved.
            </div>
        </footer>
    </div>
    <script src="../static/js/fastclick.js"></script>
    <script src="../static/js/scroll.js"></script>
    <script src="../static/js/fixed-responsive-nav.js"></script>
    
</body>

</html>
<script src="../static/js/slider.js"></script>