<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Donations</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="../static/js/responsive-nav.js"></script>
</head>

<body>
    <div class="wrap-header">
        <header>
            <form id="demo-2">
                <input type="search" placeholder="Search">
                <a href="home.html" class="logotype">Charitable</a>
            </form>
            <nav class="nav-collapse">
                <ul>
                    <li class="menu-item"><a href="profile.html">Profile</a></li>
                    <li class="menu-item"><a href="requests.html">Projects</a></li>
                    <li class="menu-item pr0"><a href="signin.html">Log In</a></li>
                </ul>
            </nav>
        </header>
    </div>
    <div class="content req">
        <p class="maintxtreq helpr back"><a href="project.html">&#8592; go back to request</a></p>
        <div class="donations">
            <div class="thelist">
                <div class="wraprecent">
                    <div class="recent">
                      <p class="h-text listof">List of donators to ' name of the project '</p>
                      <div class="person aic">
                        <div class="left">
                          <div class="tinyavatar1"></div>
                          <div class="name">Gregory Fox</div>
                        </div>
                        <div class="summ">$25</div>
                      </div>
                      <div class="person aic">
                        <div class="left">
                          <div class="tinyavatar2"></div>
                          <div class="name">Anonymous</div>
                        </div>
                        <div class="summ">$80</div>
                      </div>
                      <div class="person aic">
                        <div class="left">
                          <div class="tinyavatar3"></div>
                          <div class="name">Shane Williamson</div>
                        </div>
                        <div class="summ">$69</div>
                      </div>
                      <div class="person aic">
                        <div class="left">
                          <div class="tinyavatar4"></div>
                          <div class="name">Wendy Mccoy</div>
                        </div>
                        <div class="summ">$135</div>
                      </div>
                      <div class="person aic">
                        <div class="left">
                          <div class="tinyavatar5"></div>
                          <div class="name">Savannah Nguyen</div>
                        </div>
                        <div class="summ">$5</div>
                      </div>
                      <div class="person aic">
                        <div class="left">
                          <div class="tinyavatar4"></div>
                          <div class="name">Wendy Mccoy</div>
                        </div>
                        <div class="summ">$135</div>
                      </div>
                      <div class="person aic">
                        <div class="left">
                          <div class="tinyavatar5"></div>
                          <div class="name">Savannah Nguyen</div>
                        </div>
                        <div class="summ">$5</div>
                      </div>
                      <div class="person aic">
                        <div class="left">
                          <div class="tinyavatar4"></div>
                          <div class="name">Wendy Mccoy</div>
                        </div>
                        <div class="summ">$135</div>
                      </div>
                      <div class="person aic">
                        <div class="left">
                          <div class="tinyavatar5"></div>
                          <div class="name">Savannah Nguyen</div>
                        </div>
                        <div class="summ">$5</div>
                      </div>
                      <div class="person aic">
                        <div class="left">
                          <div class="tinyavatar1"></div>
                          <div class="name">Gregory Fox</div>
                        </div>
                        <div class="summ">$25</div>
                      </div>
                      <div class="person aic">
                        <div class="left">
                          <div class="tinyavatar2"></div>
                          <div class="name">Anonymous</div>
                        </div>
                        <div class="summ">$80</div>
                      </div>
                      <div class="person aic">
                        <div class="left">
                          <div class="tinyavatar3"></div>
                          <div class="name">Shane Williamson</div>
                        </div>
                        <div class="summ">$69</div>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="detailed">
                <div class="innerdet">
                    <p class="maintxtprof suma">$ 9750.36 was raised</p>
                <p class="lighttxt">175 people donated</p>
                <a href="">
                    <div class="button_proj">Respond to help</div>
                </a>
                </div>
            </div>
        </div>
        <footer>
            <div class="links">
                <div class="block1">
                    <div class="row hr"><a href="#">Legal</a></div>
                    <div class="row"><a href="#">Terms of Service</a></div>
                    <div class="row"><a href="#">Privacy Policy</a></div>
                    <div class="row"><a href="#">Cookie Information</a></div>
                    <div class="row"><a href="#">GDPR Commitment</a></div>
                </div>
                <div class="block2">
                    <div class="row hr"><a href="#">Company</a></div>
                    <div class="row"><a href="#">Blog</a></div>
                    <div class="row"><a href="#">Career</a></div>
                    <div class="row"><a href="#">Privacy</a></div>
                    <div class="row"><a href="#">About</a></div>
                </div>
            </div>
            <div class="block3">
                <p class="hr">System Carnival</p>
                Copyright © 2020 . Designed by Ivan Kagitin
                All rights reserved.
            </div>
        </footer>
    </div>
    <script src="../static/js/fastclick.js"></script>
    <script src="../static/js/scroll.js"></script>
    <script src="../static/js/fixed-responsive-nav.js"></script>
    <script src="../static/js/slider.js"></script>
</body>

</html>
