<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>Home</title>
  <link rel="stylesheet" href="../static/css/style.css">
  <script src="../static/js/responsive-nav.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
  </script>
</head>

<body>
  <div class="wrap-header">
    <header>
      <form id="demo-2">
        <input type="search" placeholder="Search">
        <a href="project.html" class="logotype">Charitable</a>
      </form>

      <nav class="nav-collapse">
        <ul>
          <li class="menu-item"><a href="profile.html">Profile</a></li>
          <li class="menu-item"><a href="requests.html">Projects</a></li>
          <li class="menu-item pr0"><a href="signin.html">Log In</a></li>
        </ul>
      </nav>
    </header>
  </div>
  </div>
  <div class="content">
    <div class="w100">
      
      <div class="img-wrapper-home">

        <div class="main-text-home">
          <p>Make a change</p>
        </div>

       <div class="donate-button-wrap-home">
         <div></div>
          <a href="signin.html" class="donate-button-home">
            <p>Donate</p>
          </a>
         <div></div>
       </div>

      </div>
  

      <p class="header-text-home-2">Choose the category</p>
      <div class="category-wrapper-home">
          <div class="category-button-wrapper-home">
            <a href="">
              <p class="disaster-button-home">Disaster</p>
            </a>
          </div>
          <div class="category-button-wrapper-home">
            <a href="">
              <p class="education-button-home">Education</p>
            </a>
          </div>
          <div class="category-button-wrapper-home"> 
            <a href="">
              <p class="hunger-button-home">Hunger</p>
            </a>
          </div>
          <div class="category-button-wrapper-home">
            <a href="">
              <p class="environment-button-home">Environment</p>
            </a>
          </div>
          <div class="category-button-wrapper-home">
            <a href="">
              <p class="health-button-home">Health</p>
            </a>
          </div>
          <div class="category-button-wrapper-home">
            <a href="">
              <p class="animals-button-home">Animals</p>
            </a>
          </div>
        </div>

        <p class="header-text-home-2">Almost got it &#128526;</p>
     


    <div class="home-card-wrapper">

      
      <div class="home-card">
        <div class="home-card-image"></div>
        <div class="home-card-text">
          <h2>Post One</h2>
          <span class="topic-home">
            <img src="../static/img/Pinned(E840).svg" alt="">
            <a href="#">Health</a>
          </span>
          
          <p>Excepteur sunt eiusmod pariatur nulla consectetur adipisicing laborum voluptate commodo officia id. Nostrud amet ullamco id officia laboris.</p>
        </div>
        <div class="home-card-stats">
          <div class="home-card-stat">
            <div class="home-card-value">5830$</div>
            <div class="home-card-type">raised</div>
          </div>
          <div class="home-card-stat border">
            <div class="home-card-value">96%</div>
            <div class="home-card-type">progress</div>
          </div>
          <div class="home-card-stat">
            <div class="home-card-value">249$</div>
            <div class="home-card-type">left</div>
          </div>
        </div>
        <a href="../template/project.html" class="stretched-link"></a>
      </div>
      

      <div class="home-card">
        <div class="home-card-image2"></div>
        <div class="home-card-text">
          <h2>Post Two</h2>
          <span class="topic-home">
            <img src="../static/img/Pinned(E840).svg" alt="">
            <a href="#">Education</a>
          </span>
          <p>Excepteur sunt eiusmod pariatur nulla consectetur adipisicing laborum voluptate commodo officia id. Nostrud amet ullamco id officia laboris.</p>
        </div>
        <div class="home-card-stats">
          <div class="home-card-stat">
            <div class="home-card-value">4421$</div>
            <div class="home-card-type">raised</div>
          </div>
          <div class="home-card-stat border">
            <div class="home-card-value">92%</div>
            <div class="home-card-type">progress</div>
          </div>
          <div class="home-card-stat">
            <div class="home-card-value">361$</div>
            <div class="home-card-type">left</div>
          </div>
        </div>
        <a href="../template/project.html" class="stretched-link"></a>
      </div>

      <div class="home-card">
        <div class="home-card-image3"></div>
        <div class="home-card-text">
          <h2>Post Three</h2>
          <span class="topic-home">
            <img src="../static/img/Pinned(E840).svg" alt="">
            <a href="#">Animals</a>
          </span>
          <p>Excepteur sunt eiusmod pariatur nulla consectetur adipisicing laborum voluptate commodo officia id. Nostrud amet ullamco id officia laboris.</p>
        </div>
        <div class="home-card-stats">
          <div class="home-card-stat">
            <div class="home-card-value">3450$</div>
            <div class="home-card-type">raised</div>
          </div>
          <div class="home-card-stat border">
            <div class="home-card-value">83%</div>
            <div class="home-card-type">progress</div>
          </div>
          <div class="home-card-stat">
            <div class="home-card-value">632$</div>
            <div class="home-card-type">left</div>
          </div>
        </div>
        <a href="../template/project.html" class="stretched-link"></a>
      </div>


    </div>

    


  
      <footer>
        <div class="links">
          <div class="block1">
            <div class="row hr"><a href="#">Legal</a></div>
            <div class="row"><a href="#">Terms of Service</a></div>
            <div class="row"><a href="#">Privacy Policy</a></div>
            <div class="row"><a href="#">Cookie Information</a></div>
            <div class="row"><a href="#">GDPR Commitment</a></div>
          </div>
          <div class="block2">
            <div class="row hr"><a href="#">Company</a></div>
            <div class="row"><a href="#">Blog</a></div>
            <div class="row"><a href="#">Career</a></div>
            <div class="row"><a href="#">Privacy</a></div>
            <div class="row"><a href="#">About</a></div>
          </div>
        </div>
        <div class="block3">
          <p class="hr">System Carnival</p>
          Copyright © 2020 . Designed by Ivan Kagitin
          All rights reserved.
        </div>
      </footer>
    </div>
    
  </div>
  </div>
  <script src="../static/js/fastclick.js"></script>
  <script src="../static/js/scroll.js"></script>
  <script src="../static/js/fixed-responsive-nav.js"></script>
</body>

</html>