<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/basic.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    <script src="../static/js/responsive-nav.js"></script>

    <script class="jsbin" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

</head>

<body>
    <div class="wrap-header">
        <header>
            <form id="demo-2">
                <input type="search" placeholder="Search">
                <a href="project.html" class="logotype">Charitable</a>
            </form>

            <nav class="nav-collapse">
                <ul>
                    <li class="menu-item"><a href="profile.html">Profile</a></li>
                    <li class="menu-item"><a href="requests.html">Projects</a></li>
                    <li class="menu-item pr0"><a href="signin.html">Log In</a></li>
                </ul>
            </nav>
        </header>
    </div>

    <div class="content req">
        <div class="bts-popup" role="alert">
            <div class="bts-popup-container">
                <p class="h-text">Coungratulations!</p>
              <img src="../static/img/achievements/4.jpg" alt="" width="80%" />
                  <p>That's your achievment</p>
                    <div class="bts-popup-button">
                      <button class="btn">Share</button>
                    </div>
                <a href="#0" class="bts-popup-close img-replace">Close</a>
            </div>
        </div>
    </div>

    
        <footer>
            <div class="links">
                <div class="block1">
                    <div class="row hr"><a href="#">Legal</a></div>
                    <div class="row"><a href="#">Terms of Service</a></div>
                    <div class="row"><a href="#">Privacy Policy</a></div>
                    <div class="row"><a href="#">Cookie Information</a></div>
                    <div class="row"><a href="#">GDPR Commitment</a></div>
                </div>
                <div class="block2">
                    <div class="row hr"><a href="#">Company</a></div>
                    <div class="row"><a href="#">Blog</a></div>
                    <div class="row"><a href="#">Career</a></div>
                    <div class="row"><a href="#">Privacy</a></div>
                    <div class="row"><a href="#">About</a></div>
                </div>
            </div>
            <div class="block3">
                <p class="hr">System Carnival</p>
                Copyright © 2020 . Designed by Ivan Kagitin
                All rights reserved.
            </div>
        </footer>
    </div>

    <script src="../static/js/fastclick.js"></script>
    <script src="../static/js/scroll.js"></script>
    <script src="../static/js/fixed-responsive-nav.js"></script>
    <script src="../static/js/popup.js"></script>



</body>

</html>