<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script><script src="/static/js/sss.min.js"></script>
  <link rel="stylesheet" href="/static/css/sss.css" type="text/css" media="all">
  <script>jQuery(function($) {$('.slider').sss();});</script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="../static/css/style.css">
  <script src="../static/js/responsive-nav.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load("current", { packages: ["corechart"] });
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ['Task', 'Hours per Day'],
        ['Albert Watson', 63],
        ['Anonymous', 13],
        ['Shane Williamson', 8],
        ['Others', 7],
        ['Left to collect', 9]
      ]);

      var options = {
        colors: ['#26C296', '#DE6944', '#F5AC18', '#C4C4C4', '#FFFFFF'],
        pieHole: 0.65,
        fontName: 'GilroyMedium',
        fontSize: '18',
        pieSliceText: "none",
        'legend': 'none',
      };

      var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
      chart.draw(data, options);
    }
  </script>
</head>

<body>
  <div class="wrap-header">
    <header>
      <form id="demo-2">
        <input type="search" placeholder="Search">
        <a href="home.html" class="logotype">Charitable</a>
      </form>

      <nav class="nav-collapse">
        <ul>
          <li class="menu-item"><a href="profile.html">Profile</a></li>
          <li class="menu-item"><a href="requests.html">Projects</a></li>
          <li class="menu-item pr0"><a href="signin.html">Log In</a></li>
        </ul>
      </nav>
    </header>

  </div>
  <div class="content">
    <p class="h-text w100 ht">Laboris occaecat culpa veniam tempor sit amet nost</p>
    <div class="img-wrapper dn"></div>

    <div class="progresswrap">


      <div class="progress">
        <p class="ac pr">Progress $3450</p>
        <p class="raised">Raised by 28 people</p>
        <!-- <img src="..//static/img/diag.png" alt="" class="wa"> -->
        <div id="donutchart" style="width: 100%; height: 300px;"></div>
        <div class="percentage">92%</div>
        <div class="donators">
          <div class="person">
            <div class="left">
              <div class="box1 olbox"></div>
              <div class="name">Albert Watson</div>
            </div>
            <div class="summ">$2174</div>
          </div>
          <div class="person">
            <div class="left">
              <div class="box2 olbox"></div>
              <div class="name">Anonymous</div>
            </div>
            <div class="summ">$448</div>
          </div>
          <div class="person">
            <div class="left">
              <div class="box3 olbox"></div>
              <div class="name">Shane Williamson</div>
            </div>
            <div class="summ">$310</div>
          </div>
          <div class="person">
            <div class="left">
              <div class="box4 olbox"></div>
              <div class="name">Others</div>
            </div>
            <div class="summ">$241</div>
          </div>
        </div>
        <div class="button-wrap">
          <a href="#">
            <div class="button">
              <p>Become a sponsor</p>
            </div>
          </a>
        </div>
      </div>
      <div class="infowrap">
        <div class="info">
          <div class="top">
            <div class="leftside">
              <div class="avatar"></div>
              <div class="txtinfo">
                <div class="nameinfo">Cody Murphy</div>
                <div class="organizer">Organizer</div>
              </div>
            </div>
            <a href="">
              <div class="contact">Contact</div>
            </a>
          </div>
          <div class="date">
            <img src="../static/img/DateTime(EC92).svg" alt="">
            Created June 16, 2014
          </div>
          <div class="topic">
            <img src="../static/img/Pinned(E840).svg" alt="">
            <a href="#">Accidents & Emergencies</a>
          </div>
        </div>
      </div>
    </div>

    <div class="wr">

      <div class="img-wrapper fordesktop"></div>
      <p class="description">Excepteur sunt eiusmod pariatur nulla consectetur adipisicing laborum voluptate commodo
        officia id. Nostrud amet ullamco id officia laboris. Cupidatat voluptate exercitation reprehenderit sint anim
        excepteur proident ea est officia laboris qui ea elit. Minim et tempor incididunt amet nulla et culpa culpa
        voluptate irure sint. Fugiat eu nostrud nostrud minim in excepteur cupidatat nisi. Culpa ut aliqua ex
        exercitation
        elit reprehenderit minim commodo qui veniam pariatur. Consectetur adipisicing dolore elit aliquip.</p>
      <div class="wrapslider">
        <div class="slider">
          <img src="../static/img/african_kids.jpeg" /><img src="../static/img/charity-events.jpg" />
          </div>
      </div>

      <div class="wraprecent">
        <div class="recent">
          <p class="h-text">Recent donations</p>
          <p class="h-text">No donation made yet</p>
          <div class="wrapview">
            <a href="donationlist.html">
              <div class="view">Become the first one</div>
            </a>
          </div>
          <!-- <div class="person aic">
            <div class="left">
              <div class="tinyavatar1"></div>
              <div class="name">Gregory Fox</div>
            </div>
            <div class="summ">$25</div>
          </div>
          <div class="person aic">
            <div class="left">
              <div class="tinyavatar2"></div>
              <div class="name">Anonymous</div>
            </div>
            <div class="summ">$80</div>
          </div>
          <div class="person aic">
            <div class="left">
              <div class="tinyavatar3"></div>
              <div class="name">Shane Williamson</div>
            </div>
            <div class="summ">$69</div>
          </div>
          <div class="person aic">
            <div class="left">
              <div class="tinyavatar4"></div>
              <div class="name">Wendy Mccoy</div>
            </div>
            <div class="summ">$135</div>
          </div>
          <div class="person aic">
            <div class="left">
              <div class="tinyavatar5"></div>
              <div class="name">Savannah Nguyen</div>
            </div>
            <div class="summ">$5</div>
          </div>
          <div class="wrapview">
            <a href="donationlist.html">
              <div class="view">View all</div>
            </a>
          </div> -->
        </div>
      </div>

    </div>

    <footer>
      <div class="links">
        <div class="block1">
          <div class="row hr"><a href="#">Legal</a></div>
          <div class="row"><a href="#">Terms of Service</a></div>
          <div class="row"><a href="#">Privacy Policy</a></div>
          <div class="row"><a href="#">Cookie Information</a></div>
          <div class="row"><a href="#">GDPR Commitment</a></div>
        </div>
        <div class="block2">
          <div class="row hr"><a href="#">Company</a></div>
          <div class="row"><a href="#">Blog</a></div>
          <div class="row"><a href="#">Career</a></div>
          <div class="row"><a href="#">Privacy</a></div>
          <div class="row"><a href="#">About</a></div>
        </div>
      </div>
      <div class="block3">
        <p class="hr">System Carnival</p>
        Copyright © 2020 . Designed by Ivan Kagitin
        All rights reserved.
      </div>
    </footer>
  </div>

  <script src="../static/js/fastclick.js"></script>
  <script src="../static/js/scroll.js"></script>
  <script src="../static/js/fixed-responsive-nav.js"></script>
</body>

</html>
