<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../static/css/style.css">

    <link rel="stylesheet" href="../static/css/styles.css">
    <script src="../static/js/responsive-nav.js"></script>

</head>

<body>
    <div class="wrap-header">
        <header>
            <form id="demo-2">
                <input type="search" placeholder="Search">
            </form>
            <a href="#home" class="logo">System Carnival</a>
            <nav class="nav-collapse">
                <ul>
                    <li class="menu-item"><a href="index.html">Projects</a></li>
                    <li class="menu-item"><a href="#">About</a></li>
                    <li class="menu-item pr0"><a href="#">Log In</a></li>
                </ul>
            </nav>
        </header>
    </div>

        <div class="content">
            <div class="wraplog">
                <div class="log">
                    <p class="h-text">Sign In to System Carnival</p>
                    <form class="login">
                        <input type="email" name="email" id="email" placeholder="Enter your e-mail">
                        <input type="password" name="password" id="password" placeholder="Enter your password">
                        <div class="wrapview">
                            <a href="">
                              <div class="view">Sign In</div>
                            </a>
                          </div>
                    </form>
                </div>
            </div>


        <footer>
            <div class="links">
                <div class="block1">
                    <div class="row hr"><a href="#">Legal</a></div>
                    <div class="row"><a href="#">Terms of Service</a></div>
                    <div class="row"><a href="#">Privacy Policy</a></div>
                    <div class="row"><a href="#">Cookie Information</a></div>
                    <div class="row"><a href="#">GDPR Commitment</a></div>
                </div>
                <div class="block2">
                    <div class="row hr"><a href="#">Company</a></div>
                    <div class="row"><a href="#">Blog</a></div>
                    <div class="row"><a href="#">Career</a></div>
                    <div class="row"><a href="#">Privacy</a></div>
                    <div class="row"><a href="#">About</a></div>
                </div>
            </div>
            <div class="block3">
                <p class="hr">System Carnival</p>
                Copyright © 2020 . Designed by Ivan Kagitin
                All rights reserved.
            </div>
        </footer>
    </div>

    <script src="../static/js/fastclick.js"></script>
    <script src="../static/js/scroll.js"></script>
    <script src="../static/js/fixed-responsive-nav.js"></script>
</body>

</html>