<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/responsive-nav.js"></script>

</head>

<body>
    <div class="wrap-header">
        <header>
            <form id="demo-2">
                <input type="search" placeholder="Search">
                <a href="home.html" class="logotype">Charitable</a>
            </form>

            <nav class="nav-collapse">
                <ul>
                    <li class="menu-item"><a href="profile.html">Profile</a></li>
                    <li class="menu-item"><a href="requests.html">Projects</a></li>
                    <li class="menu-item pr0"><a href="signin.html">Log In</a></li>
                </ul>
            </nav>
        </header>
    </div>

    <div class="content">
        <div class="wraplog">
            <div class="log">
                <p class="h-text">Sign In to Charitable</p>
                <form class="login">
                    <input type="email" name="email" id="email" placeholder="Enter your e-mail">
                    <input type="password" name="password" id="password" placeholder="Enter your password">
                    <input type="submit" value="Sign In">
                </form>
                <p>Don't have an account? <span class="cl"><a href="signup.html">Sign Up</span></a></span></p>
            </div>
        </div>


        <footer>
            <div class="links">
                <div class="block1">
                    <div class="row hr"><a href="#">Legal</a></div>
                    <div class="row"><a href="#">Terms of Service</a></div>
                    <div class="row"><a href="#">Privacy Policy</a></div>
                    <div class="row"><a href="#">Cookie Information</a></div>
                    <div class="row"><a href="#">GDPR Commitment</a></div>
                </div>
                <div class="block2">
                    <div class="row hr"><a href="#">Company</a></div>
                    <div class="row"><a href="#">Blog</a></div>
                    <div class="row"><a href="#">Career</a></div>
                    <div class="row"><a href="#">Privacy</a></div>
                    <div class="row"><a href="#">About</a></div>
                </div>
            </div>
            <div class="block3">
                <p class="hr">System Carnival</p>
                Copyright © 2020 . Designed by Ivan Kagitin
                All rights reserved.
            </div>
        </footer>
    </div>

    <script src="../static/js/fastclick.js"></script>
    <script src="../static/js/scroll.js"></script>
    <script src="../static/js/fixed-responsive-nav.js"></script>
</body>

</html>
