<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/dropzone.css">
    <link rel="stylesheet" href="../static/css/basic.css">
    <link rel="stylesheet" href="../static/css/countrySelect.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    <script src="../static/js/responsive-nav.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//geodata.solutions/includes/countrystatecity.js"></script>
</head>

<body>
    <div class="wrap-header">
        <header>
            <form id="demo-2">
                <input type="search" placeholder="Search">
                <a href="project.html" class="logotype">Charitable</a>
            </form>

            <nav class="nav-collapse">
                <ul>
                    <li class="menu-item"><a href="profile.html">Profile</a></li>
                    <li class="menu-item"><a href="requests.html">Projects</a></li>
                    <li class="menu-item pr0"><a href="signin.html">Log In</a></li>
                </ul>
            </nav>
        </header>
    </div>
    

        <form id="regForm" action="">
            <div class="content_crtpr vrf">
                <p class="maintxt">Verify your profile</p>
        
        
        
                <div id="steps">
                    <div class="step active" data-desc="Passport Scans">1</div>
                    <div class="step" data-desc="Bank Account Details">2</div>
                    <div class="step" data-desc="Review & Submit">3</div>
                </div>
        
                <div class="tab">
                    <p class="maintxt">Examle:</p>
                    <div class="image_passport"></div>

                                    <!-- Images Upload -->
                    <div action="/upload-image" class="dropzone needsclick dz-clickable" id="demo-upload" enctype="multipart/form-data" method="POST">
                        <div class="dz-default dz-message">
                            <button class="dz-button" type="button" onchange="updateSize()">Drag & Drop<br>your passport scans here</button>
                            <input type="hidden" name="_csrf" value="${_csrf.token}" />
                        </div>
                    </div>
                    <br />
                </div>

                <div class="tab">
                    <div class="create_pr_wrap">
                        <div class="create_proj">
                            
                            <p>Тут треба буде вставити форму LiqPay</p>

                        </div>
                    </div>
                </div>

                <div class="tab">
                    <p style="text-align: center;">We are reviewing your documents data. <br>Wait untill you are verified.</p>
                    <div class="image_docs_review"></div>
                </div>


                <div class="wrapview"">
                    <button class="button_proj" type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
                </div>
                <div class="wrapview">
                    <button class="cancel" type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
                </div>
            </div>
                   
        </form>
    
        



        <footer>
            <div class="links">
                <div class="block1">
                    <div class="row hr"><a href="#">Legal</a></div>
                    <div class="row"><a href="#">Terms of Service</a></div>
                    <div class="row"><a href="#">Privacy Policy</a></div>
                    <div class="row"><a href="#">Cookie Information</a></div>
                    <div class="row"><a href="#">GDPR Commitment</a></div>
                </div>
                <div class="block2">
                    <div class="row hr"><a href="#">Company</a></div>
                    <div class="row"><a href="#">Blog</a></div>
                    <div class="row"><a href="#">Career</a></div>
                    <div class="row"><a href="#">Privacy</a></div>
                    <div class="row"><a href="#">About</a></div>
                </div>
            </div>
            <div class="block3">
                <p class="hr">System Carnival</p>
                Copyright © 2020 . Designed by Ivan Kagitin
                All rights reserved.
            </div>
        </footer>
    </div>

    <script src="../static/js/fastclick.js"></script>
    <script src="../static/js/scroll.js"></script>
    <script src="../static/js/fixed-responsive-nav.js"></script>
    <script src="../static/js/upload-image.js"></script>
    <script src="../static/js/currency.js"></script>
    <script src="../static/js/dropzone-amd-module.js"></script>
    <script src="../static/js/dropzone.js"></script>
    <script src="../static/js/dropzone.js.map"></script>
    <script src="../static/js/verification.js"></script>




    <script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
</body>


</html>