
body{
    font-family: "GilroyRegular"!important; 
    margin: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
.header{
    font-family: "GilroyBold"; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    padding: 25px 22px 18px 22px;
    
}
.wrap-header{
    width: 100%;
    /* padding: 0 50px; */
    position: fixed;
    z-index: 200;
    background: white;
}
.content{
    padding: 10px;
    padding-top: 85px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 1120px;
    justify-content: space-between;
}
.ac{
    text-align: center;
    margin: 0;
}
.raised{
    font-family: "GilroyRegular"; 
    font-size: 13px;
    text-align: center;
    margin: 0;
    color: #AAA3A3;
}
.wa{
    width: 50%;
    margin: auto;
    padding: 50px 0;
}
.progresswrap{
    width: 100%;
    padding-top: 30px;
}
.progress{
    display: grid;
    padding: 20px 0;
    border-radius: 12px;
    box-shadow: 0px 0px 31.19px rgba(54, 54, 54, 0.04), 0px 4.77px 27.72px rgba(0, 0, 0, 0.15)
}
.img-wrapper{
    background-image: url(..//img/JS_20140422_7747-31.jpg);
    background-position: center;
    background-size: cover;
    height: 220px;
    box-shadow: 0px 0px 31.19px rgba(54, 54, 54, 0.04), 0px 10.77px 27.72px rgba(0, 0, 0, 0.15);
    border-radius: 11px;
    /* max-width: 700px; */
    /* margin: 0 auto; */
    width: 100%;
}
.w100{
    width: 100%;
}
.h-text{
    font-family: "GilroyBold"; 
    font-size: 24px;
    margin: 0;
    padding-top: 30px!important;
}
.ht{
    padding-top: 0!important;
    padding-bottom: 30px!important;
}
.percentage{
    position: relative;
    left: 50%;
    width: fit-content;
    margin-left: -32.711px;
    font-family: "GilroyBold"; 
    font-size: 36px;
    /* margin-top: 220px; */

    top: -168px;
    height: 0;
}
.person{
    display: flex;
    justify-content: space-between;
    font-family: "GilroyMedium"; 
    font-size: 18px;
    padding: 10px 25px;
}
.left{
    display: flex;
    justify-content: left;
    align-items: center;
}
.olbox{
    width: 14.2px;
    height: 14.2px;
    border-radius: 5px;
    transform: rotate(-45deg);
}
.box1{
    background-color: #26C296;
}
.box2{
    background-color: #DE6944;
}
.box3{
    background-color: #F5AC18;
}
.box4{
    background-color: #C4C4C4;
}
.name{
    padding: 0 15px;
}
.button{
    font-family: "GilroySemiBold"; 
    width: 100%;
    max-width: 400px;
    text-align: center;
    background: #1943EF;
    border-radius: 33.96px;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    box-shadow: 0px 0px 31.19px rgba(54, 54, 54, 0.15), 0px 5.77px 27.72px rgba(0, 0, 0, 0.15);
    padding: 15px 0 ;
    margin: auto;
}
.button-wrap{
    padding: 45px 25px;
}
.button p{
    margin: 0;
}
.description{
    color: #383850;
    font-family: "GilroyMedium"; 
    font-size: 18px;
    margin: 0 auto;
    padding: 30px 7px;
    max-width: 1120px;
}
.avatar{
    width: 47px;
    height: 47px;
    background-image: url(../img/Ellipse16.png);
    background-position: center;
    background-size: cover;
}
.leftside{
    display: flex;
    align-items: center;
}
.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nameinfo{
    font-family: "GilroySemiBold"; 
    font-size: 18px;
}
.organizer{
    color: #222222;
    font-family: "GilroyMedium"; 
    font-size: 14px;
}
.txtinfo{
    padding: 0 13px;
}
.contact{
    color: #FFFFFF;
    font-family: "GilroySemiBold"; 
    font-size: 14px;
    padding: 9px 20px;
    background-color: #1943EF;
    border-radius: 33.96px;

}
.date{
    display: flex;
    justify-content: left;
    align-items: center;
    font-family: "GilroyMedium"; 
    font-size: 14px;
    color: #454554;
    padding: 35px 0 13px 0;
}
.topic{
    display: flex;
    justify-content: left;
    align-items: center;
    font-family: "GilroyMedium"; 
    font-size: 14px;
    color: #454554;
    padding-top: 13px;
    text-decoration: underline;
}
.info img{
    padding: 0 25px 0 8px;
}
.info{
    padding: 30px 17px;
    box-shadow: 0px 0px 31.19px rgba(54, 54, 54, 0.04), 0px 4.77px 27.72px rgba(0, 0, 0, 0.15);    border-radius: 12px;
}
.tinyavatar1{
    width: 28px;
    height: 28px;
    background-image: url(../img/Ellipse\ 16.png);
    background-position: center;
    background-size: cover;
    box-shadow: 0px 0px 31.19px rgba(54, 54, 54, 0.04), 0px 2.77px 27.72px rgba(0, 0, 0, 0.04);
}
.tinyavatar2{
    width: 28px;
    height: 28px;
    background-image: url(../img/anony.png);
    background-position: center;
    background-size: cover;
    box-shadow: 0px 0px 31.19px rgba(54, 54, 54, 0.04), 0px 2.77px 27.72px rgba(0, 0, 0, 0.04);
}
.tinyavatar3{
    width: 28px;
    height: 28px;
    background-image: url(../img/Ellipse\ dsf16.png);
    background-position: center;
    background-size: cover;
    box-shadow: 0px 0px 31.19px rgba(54, 54, 54, 0.04), 0px 2.77px 27.72px rgba(0, 0, 0, 0.04);
}
.tinyavatar4{
    width: 28px;
    height: 28px;
    background-image: url(../img/Ellipsesdsd.png);
    background-position: center;
    background-size: cover;
    box-shadow: 0px 0px 31.19px rgba(54, 54, 54, 0.04), 0px 2.77px 27.72px rgba(0, 0, 0, 0.04);
}
.tinyavatar5{
    width: 28px;
    height: 28px;
    background-image: url(../img/Ellipse\ 15.png);
    background-position: center;
    background-size: cover;
    box-shadow: 0px 0px 31.19px rgba(54, 54, 54, 0.04), 0px 2.77px 27.72px rgba(0, 0, 0, 0.04);
}
.aic{
    align-items: center;
}
.wrapview{
    width: 100%;
    display: flex;
    justify-content: center;
}
.view{
    box-shadow: 0px 0px 31.19px rgba(54, 54, 54, 0.04), 0px 2.77px 27.72px rgba(0, 0, 0, 0.04);
    background: #FFFFFF;
    border: 2px solid #1943EF;
    box-sizing: border-box;
    border-radius: 33.96px;
    padding: 10px 50px;
    color: #1943EF;
    font-family: "GilroySemiBold";
}
.recent{
    box-shadow: 0px 0px 31.19px rgba(54, 54, 54, 0.04), 0px 4.77px 27.72px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    text-align: center;
    padding: 12px 0;
}
.links{
    display: flex;
    justify-content: space-around;
}
.hr{
    font-size: 18px;
    color: #222222;
    font-family: "GilroySemiBold"; 
}
.row{
    padding: 4px 0;
}
.block3{
    text-align: center;
    padding-top: 10px;
}
.pr{
    padding: 0;
    font-family: "GilroyBold"; 
    font-size: 24px;
    margin: 0;
}
footer{
    padding: 0 20px;
    font-size: 14px;
    font-family: "GilroyMedium";
    color: #73738D;
    width: 100%;
}
.links, .infowrap, .h-text, .wraprecent, .wrapview{
    padding: 15px 0;
    margin: 0 auto;
}
.wr{
    width: 100%;
}
@font-face {
    font-family: "GilroyBold"; 
    src: url("..//fonts/GilroyBold.ttf") ; 
    font-style: normal; 
    font-weight: normal; 
}
@font-face {
    font-family: "GilroyRegular"; 
    src: url("..//fonts/Gilroy-Regular.ttf") ; 
    font-style: normal; 
    font-weight: normal; 
    margin: 0;
}
@font-face {
    font-family: "GilroyMedium"; 
    src: url("..//fonts/Gilroy-Medium.ttf") ; 
    font-style: normal; 
    font-weight: normal; 
}
@font-face {
    font-family: "GilroySemiBold"; 
    src: url("..//fonts/Gilroy-SemiBold.ttf") ; 
    font-style: normal; 
    font-weight: normal; 
}







  /* Home page */


.img-wrapper-home{
    background-image: url(..//img/african_kids.jpeg);
    background-position: center;
    background-size: cover;
    height: 30%;
    box-shadow: 0px 0px 31.19px rgba(54, 54, 54, 0.04), 0px 10.77px 27.72px rgba(0, 0, 0, 0.15);
    border-radius: 11px;
}

.donate-button-home{
    font-family: "GilroySemiBold"; 
    text-align: center;
    background: rgb(236, 238, 239);
    border-radius: 33.96px;
    font-size: 20px;
    line-height: 54px;
    color: #383850;
    box-shadow: 0px 0px 31.19px rgba(54, 54, 54, 0.15), 0px 5.77px 27.72px rgba(0, 0, 0, 0.15);
    padding: 5px 0 ;
}
.donate-button-wrap-home{
    padding: 28% 40% 5% 40%;
    margin: 0;
    width: 20%;
}
.main-text-home{
    color: #FFFFFF;
    font-family: "GilroyBold";
    font-size: 120px;
    text-align: center;
    padding-top: 15%;
    margin: 0;
}
.header-text-home{
    color: black;
    font-family: "GilroyBold";
    font-size: 70px;
    text-align: center;
    padding-top: 150px;
    margin: 0;
}
.category-wrapper-home{
    display: grid;
    justify-items: center;
    grid-template-columns: auto  auto  auto;
}
.category-button-wrapper-home{
    margin: 50px;
    justify-self: stretch;
}
.disaster-button-home{
    font-family: "GilroySemiBold"; 
    text-align: center;
    background-image: url(..//img/disasters_blured.jpg);
    background-position: 50% 65%;
    background-size: 130%;
    border-radius: 33.96px;
    font-size: 28px;
    line-height: 64px;
    color: #383850;
    box-shadow: 0px 0px 31.19px rgba(54, 54, 54, 0.15), 0px 5.77px 27.72px rgba(0, 0, 0, 0.15);
    padding: 5px 0 ;
}
.education-button-home{
    font-family: "GilroySemiBold"; 
    text-align: center;
    background-image: url(..//img/education_blured.jpg);
    background-position: 70% 50%;
    background-size: 130%;
    border-radius: 33.96px;
    font-size: 28px;
    line-height: 64px;
    color: #383850;
    box-shadow: 0px 0px 31.19px rgba(54, 54, 54, 0.15), 0px 5.77px 27.72px rgba(0, 0, 0, 0.15);
    padding: 5px 0 ;
}
.hunger-button-home{
    font-family: "GilroySemiBold"; 
    text-align: center;
    background-image: url(..//img/hunger_blured.jpg);
    background-position: 50% 90%;
    background-size: 100%;
    border-radius: 33.96px;
    font-size: 28px;
    line-height: 64px;
    color: #383850;
    box-shadow: 0px 0px 31.19px rgba(54, 54, 54, 0.15), 0px 5.77px 27.72px rgba(0, 0, 0, 0.15);
    padding: 5px 0 ;
}
.environment-button-home{
    font-family: "GilroySemiBold"; 
    text-align: center;
    background-image: url(..//img/environment_blured.jpg);
    background-position: 50% 60%;
    background-size: 110%;
    border-radius: 33.96px;
    font-size: 28px;
    line-height: 64px;
    color: #383850;
    box-shadow: 0px 0px 31.19px rgba(54, 54, 54, 0.15), 0px 5.77px 27.72px rgba(0, 0, 0, 0.15);
    padding: 5px 0 ;
}
.health-button-home{
    font-family: "GilroySemiBold"; 
    text-align: center;
    background-image: url(..//img/health_blured.jpg);
    background-position: 50% 50%;
    background-size: 100%;
    border-radius: 33.96px;
    font-size: 28px;
    line-height: 64px;
    color: #383850;
    box-shadow: 0px 0px 31.19px rgba(54, 54, 54, 0.15), 0px 5.77px 27.72px rgba(0, 0, 0, 0.15);
    padding: 5px 0 ;
}



.home-card{
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "text" "stats";
    transition: 0.5s ease;
    cursor: pointer;
    width: fit-content;
    

    font-family: "GilroyRegular";
    text-align: center;
    border-radius: 33.96px;
    box-shadow: 0px 0px 31.19px rgba(54, 54, 54, 0.15), 0px 5.77px 27.72px rgba(0, 0, 0, 0.15);
}
.home-card-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10em;
    padding-bottom: 5em;
    padding-top: 5em;
    justify-content: center;
    background-color: white;
}
.home-card-image{
    grid-area: image;
    background-image: url(../img/charity-events.jpg);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}
.home-card-text{
    grid-area: text;
    margin: 25px;
}
.home-card-text p{
    color: grey;
    font-size: 15px;
    font-weight: 300;
}
.home-card-text h2{
    margin-top: 0px;
    font-size: 28px;
}
.home-card-stats{
    grid-area: stats;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: rgb(165, 209, 199);
}
.home-card-stats .home-card-stat{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    color: white;

}
.home-card-stats .home-card-type{
    font-size: 11px;
    font-weight: 200;
    text-transform: uppercase;
}
.home-card-stats .home-card-value{
    font-size: 22px;
    font-weight: 400;
}
.home-card-stats .border{
    border-left: 1px solid white;
    border-right: 1px solid white;
}
.home-card:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 31.19px rgba(54, 54, 54, 0.12), 0px 5.77px 27.72px rgba(0, 0, 0, 0.12);;
}
.topic-home{
    display: flex;
    justify-content: left;
    align-items: center;
    font-family: "GilroyMedium"; 
    font-size: 14px;
    color: #454554;
    padding-top: 13px;
    text-decoration: underline;
    padding-left: 12%;
}
.mtb{
    margin: 30px auto;
}
.all{
    margin: 20px 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 0;
}
.mt0{
    margin-top: 0;
}
.maintxt{
    font-family: "GilroyBold";
    font-size: 30px;
    margin-top: 0;
    text-align: center;
    width: 100%;
}


.home-card-image-req{
    grid-area: image;
    background-image: url(../img/JS_20140422_7747-31.jpg);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-size: cover;
    height: 150px;
    width: 250px;
}
.req-block{
    width: 100%;
}
.request{
    width: 100%;
}
@media(max-width: 960.98px){
    .all .home-card{
        width: 85%;
        margin: auto;
        grid-template-columns:none;
        margin-bottom: 5em;
    }
    .all{
        display: block;
        margin: 0;
}
.home-card-wrapper{
    padding-bottom: 0;
}
.topic-home{
    padding-left: 0;
    justify-content: center;
}

    }
    


/* Demo 2 */
#demo-2{
    display: inline-block;
    margin-top: 7px;
    padding-left: 20px;
}
#demo-2 input[type=search] {
	width: 291px;
	padding-left: 42px;
	color: transparent;
    cursor: text;
    font-family: 'GilroyMedium';
    font-size: 18px;
}
#demo-2 input[type=search]:focus {
	width: 291px;
	padding-left: 42px;
	color: #000;
	background-color: #F4F4F4;
    cursor: auto;
    z-index: 999;
}
/* #demo-2 input:-moz-placeholder {
    padding-left: 15px;
} */
#demo-2 input::-webkit-input-placeholder {
    font-family: 'GilroyMedium';
    font-size: 18px;
}    
input {
    outline: none;
    font-family: 'GilroyMedium';
    font-size: 18px;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; 
}


input[type=search] {
	background: #F4F4F4 url(../img/uil_search.svg) no-repeat 9px center;
	border: solid 1px transparent;
	padding: 9px 10px 9px 32px;
	width: 55px;
	
	-webkit-border-radius: 29.8014px;
	-moz-border-radius: 29.8014px;
	border-radius: 29.8014px;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}

input:-moz-placeholder {
	color: #73738D;
}
input::-webkit-input-placeholder {
	color: #73738D;
}
.wrap   {
    text-align: center;
    padding: 70px 0;
    margin: auto;
}
.log{
    width: fit-content;
    margin: auto;
    box-shadow: 0px 0px 31.19px rgba(54, 54, 54, 0.04), 0px 4.77px 27.72px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    text-align: center;
    padding: 12px 20px;
}
.inputrow {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
input[type=email],input[type=password],input[type=text]{
    cursor: text;
    font-family: 'GilroyMedium';
    font-size: 18px;
    background-color: #F4F4F4;
	border: solid 1px transparent;
	padding: 9px 10px 9px 32px;
	width: 100%;
	-webkit-border-radius: 29.8014px;
	-moz-border-radius: 29.8014px;
    border-radius: 29.8014px;
    margin: 15px 0;
}
.login{
    width: 100%;
    max-width: 330px;
    display: flex;
    flex-wrap: wrap;
}
.cl {
    color: #1943EF;
}
.inp {
    display: flex;
    width: 48%;
}
.fordesktop{
    display: none;
}
.dn{
    display: block;
}


.infowrap{
    padding-top: 30px;
}

@media (min-width: 960.98px) {
    .dn{
        display: none;
    }
    footer{
        order: 10;
    }
    .img-wrapper{
        max-width: 100%!important;
    }
    .h-text{
        order: 1;
    }
    .wr{
        order: 2;
    }
    .progresswrap{
        order: 3;
        padding-top: 0;
    }
    .fordesktop{
        display: block;
    }
    .description{
        padding: 44px 7px;
    }
  }


  input[type=submit] {
    box-shadow: 0px 0px 31.19px rgba(54, 54, 54, 0.04), 0px 2.77px 27.72px rgba(0, 0, 0, 0.04);
    background: #FFFFFF;
    border: 2px solid #1943EF;
    box-sizing: border-box;
    border-radius: 33.96px;
    padding: 10px 50px;
    color: #1943EF;
    font-family: "GilroySemiBold";
    font-size: 16px;
    margin: auto;
  }
 
  .wraplog {
    text-align: center;
    padding: 70px 0;
    margin: auto;
}

  input:focus ~ .logotype, .logotype:focus {
    z-index: -1;
  }
